<html>
<head>
    <title>
        Registro de Suplidores
    </title>
</head>
<body>
    <h1>
        <b>Nuevo Suplidor</b>
    </h1>
    <form name="Registro de Suplidores">
        <input type=text name="empresa" placeholder="Empresa" />
        <br></br>
        <input type=text name="repventas" placeholder="Representante de Ventas" />
        <br></br>
        <input type=text name="direccion" placeholder="Direccion" />
        <br></br>
        <input type=text name="telefono" placeholder="Telefono" />
        <br></br>
        <input type=text name="rnc" placeholder="RNC" />
        <br></br>
        <button type="submit" name="guardar">Guardar</button>
    </form>
</body>
</html>